.cardMini {
    border: 1px solid #EBEBEB;;
    width: 217px;
    height: 217px;
    background-color: #EBEBEB;
}

.miniPic {
    width: 189px;
    height: 133px;
    background: #C4C4C4;
    margin: 16px auto 15px auto;
    /*border: 1px solid black;*/
}

.pokemonData {
    margin-top: 11px;
    margin-left: 14px;
    margin-right: 14px;

    font-size: 12px;
    line-height: 14px;
}